<div class="panel panel-primary">
    <div class="panel-heading">
        Edit Person
     </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="editPersonForm" angular-validator-submit="editPerson()">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label" for="firstName">Person Id</label>
                            <input type="text" readonly class="form-control" ng-model="EditedPerson.Id" name="Id" id="Id" placeholder="Person Id"
                                   validate-on="blur">
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="firstName">First Name</label>
                            <input type="text" class="form-control" ng-model="EditedPerson.FirstName" name="firstName" id="firstName" placeholder="First Name"
                                   validate-on="blur" required required-message="'First Name is required'">
                        </div>
                        <div class="col-sm-6 selectContainer">
                            <label class="control-label" for="lastName">Last Name</label>
                            <input type="text" class="form-control" ng-model="EditedPerson.LastName" name="lastName" id="lastName" placeholder="Last Name"
                                   validate-on="blur" required required-message="'Last Name is required'">
                        </div>
                        <div class="col-sm-6 selectContainer">
                            <label class="control-label" for="lastName">Age</label>
                            <input type="text" class="form-control" ng-model="EditedPerson.Age" name="Age" id="Age" placeholder="Age"
                                   validate-on="blur" required required-message="'Age is required'">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="updatePerson()">Update</button>
        </div>
    </div>
</div>